button{
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px, 5px 5px;
}
button.boton1 {
    
    
    
    border-width: 2px;
    border-radius: 25px;
    background-color: red;
}
button.boton2 {
    
    
    
    border-width: 2px;
    border-radius: 25px;
    background-color: yellow;
}
button.boton3{



border-width: 2px;
border-radius: 25px;
background-color: green; 

}

#trafficLight{
    border-radius: 25px;
    height: 330px;
    

    background-color: black;

    width: 140px;
    
}
.red-active {
box-shadow: 10px;

    
}